*{
  padding: 0;
  margin: 0;
}

.navbar{
  width:100vw;
  height:30vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
}

.tag{
 color: white;
 
 font-size: 1.2rem;
}

.searchbar{
  
  width:50%;
  height:40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  
}

.options{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar select{
  
 width:20%;
  height: 40px;
  padding: 5px;
  background-color: #121212;
  color:#E0E0E0;
  border:1px solid lightgrey;
}

::placeholder{
  color:lightslategray;
  
}
.searchbar input{
  margin-left: 5px;
  width: 50%;
  height: 28px;
  padding: 5px;
  background-color: #121212;
  color:#E0E0E0;
  border:1px solid lightgrey;
  padding-left: 10px;
}

.searchbar button{
  width:20%;
  height: 41px;
  margin-left: 5px;
  padding: 5px;
  background-color: greenyellow;
  color:black;
  border-radius: 5px;
  border:1px solid lightgrey;
  font-weight: bold;
}

.filter{
  width:100vw;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter h1{
  margin-left: 20px;
}

.filter div{
  margin-right: 50px;
  width:40vw;
 
  display: flex;
  justify-content: flex-end;
}

.filter div h4{
  margin-right: 5px;
}
.descsort {
  width:30px;
  height: 25px;
  padding: 1px;
  
  color:black;
  border-radius: 2px;
  border:1px solid lightgrey;
  font-weight: bold;
  font-size: large;
  border-color: white;
  border: 1px solid black;
}
.ascsort {
  width:30px;
  height: 25px;
  padding: 1px;
  margin-right: 4px;
  color:black;
  border-radius: 2px;
  border:1px solid lightgrey;
  font-weight: bold;
  font-size: large;
  border-color: white;
  border: 1px solid black;
}

.filbut{
  margin-right: 10px;
  width:30px;
  height: 25px;
  padding: 1px;
  color:black;
  border-radius: 2px;
  
  border-color: white;
  font-size: large;
  border: 1px solid black;
}

.filter input{
  margin-right: 4px;
  border: 1px solid black;
  padding-left:5px;
}

.nores{
  margin-left:20px;
  margin-top: 15px;
}

.tabdiv{
  width:80vw;
  margin: 10px auto;
  overflow-x:auto;
}
table{
  margin: 30px auto;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tr:hover {
  background-color: #f5f5f5;
}

th{
  font-size: 1.2rem;
}

td:nth-of-type(1), td:nth-of-type(3){
  width:22.22%;
}

td:nth-of-type(2), td:nth-of-type(4),td:nth-of-type(5), td:nth-of-type(6),td:nth-of-type(7){
  width:11.11%;
}

